:host {
  height: 32px;
  text-transform: uppercase;
  padding: 5px 10px;
  margin: 5px;
  border: none;
  border-radius: 3px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12),
  0 2px 2px rgba(0, 0, 0, 0.12),
  0 4px 4px rgba(0, 0, 0, 0.12),
  0 8px 8px rgba(0, 0, 0, 0.12),
  0 16px 16px rgba(0, 0, 0, 0.12);
  text-align: center;
  color: black
}
